<div class="tx-me-google-calendar">
    <f:asset.script identifier="jquery" priority="1" src="EXT:me_google_calendar/Resources/Public/JavaScript/jquery/jquery.min.js"></f:asset.script>
    <f:asset.script identifier="moment" priority="1" src="EXT:me_google_calendar/Resources/Public/JavaScript/moment.min.js"></f:asset.script>
    <f:asset.script identifier="fullcalendar" priority="0" src="EXT:me_google_calendar/Resources/Public/JavaScript/fullcalendar.min.js"></f:asset.script>
    <f:asset.script identifier="fullcalendar-locale" priority="0" src="EXT:me_google_calendar/Resources/Public/JavaScript/locale-all.js"></f:asset.script>
    <f:asset.script identifier="fullcalendar-gcal" priority="0" src="EXT:me_google_calendar/Resources/Public/JavaScript/gcal.min.js"></f:asset.script>
    <f:asset.script identifier="fullcalendar-main" priority="0" src="EXT:me_google_calendar/Resources/Public/JavaScript/main.min.js"></f:asset.script>
	<f:render section="main"/>
</div>