<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
	<f:flashMessages/>
    <f:variable name="contentKey" value="me_google_calendar_c{data.uid}" />
	<f:render partial="Calendar/Settings" arguments="{_all}"/>
	<div id="{contentKey}_loading" class="fc-loading ui-widget ui-corner-all" style="display:none"></div>
	<div id="{contentKey}_overlay" class="fc-overlay ui-widget-overlay" style="display:none"></div>
	<div id="{contentKey}" class="fc-calendar"></div>
	<div id="{contentKey}_dialog" class="fc-dialog" style="display:none"></div>
	<div id="{contentKey}_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="meGoogleCalendarModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="meGoogleCalendarModalLabel">Event Title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Event Description
        </div>
      </div>
    </div>
  </div>
</f:section>

</html>
